# Ignore virtual environment
env/
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
db.sqlite3

# Ignore environment variables
.env

# Ignore VS Code settings
.vscode/

# Ignore compiled files
*.log
*.swp
.DS_Store
